body {
  font-family: Arial;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 0 10px #ccc;
}

a {
  text-decoration: none;
  background: #28a745;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

img {
  width: 100%;
  border-radius: 10px;
}

